<p id="notice"><%= notice %></p>

<p>
  <strong>Market name:</strong>
  <%= @race.market_name %>
</p>

<p>
  <strong>Weekend name:</strong>
  <%= @race.weekend_name %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @race.event_name %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @race.event_date %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @race.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @race.end_date %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @race.venue %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @race.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @race.address_2 %>
</p>

<p>
  <strong>Venue city:</strong>
  <%= @race.venue_city %>
</p>

<p>
  <strong>Venue state:</strong>
  <%= @race.venue_state %>
</p>

<p>
  <strong>Tm5k:</strong>
  <%= @race.tm5k %>
</p>

<p>
  <strong>Tmh:</strong>
  <%= @race.tmh %>
</p>

<p>
  <strong>Tmf:</strong>
  <%= @race.tmf %>
</p>

<p>
  <strong>Rtm:</strong>
  <%= @race.rtm %>
</p>

<p>
  <strong>Tmx:</strong>
  <%= @race.tmx %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
